.vscode
.idea
*.iml
*.ipr
*.iws
*.class
*.log
*.jar
*.war
*.ear
*.swp
*.tmp
*.bak
*.orig
*.DS_Store
*.sublime-workspace
*.sublime-project
*.vscode
*.project
*.classpath
*.factorypath
*.settings
*.springBeans
*.sts4-cache
*.mvn/wrapper/maven-wrapper.jar
*.gradle
*.jmx
*.hprof
*.log
*.out
*.pid
*.pid.lock
*.lock
*.db